.content
  h1
    | Hello. We 
    span#word-switcher.in()
      p.glitch.active(data-text='design', data-oid='0') design
      p.glitch(data-text='develop', data-oid='1')  develop
      p.glitch(data-text='love', data-oid='2') love
    |             apps.
