body {
	background-color: white;
}

nav.navbar.navbar-default.fixed-top {
  background-color: black;
  border-color: black;
  border-radius: 0;
  font-family: 'Bangers', cursive;
  font-size: 115%;
}

.navbar-brand {
  font-size: 115%;
}

#nav_pic {
  /*height: 75px;
  width: 100px;*/
  border-radius: 50px;
}

.portfolio-img {
	height: 350px;
}

.well {
	background-color: white;
	border-color: white;
	border-radius: 0px;
	border-top: none;
}